html {
    height  : 100%;
    width   : 100%;

    margin  : 0px;
    padding : 0px;

}

body {
    font-size   : 13px;
    font-family : 'Arial';

    height      : 100%;
    width       : 100%;

    margin      : 0px;
    padding     : 0px;
}

dl, dt, dd {
    margin  : 0px;
    padding : 0px;
}

ol, ul, li {
    margin     : 0px;
    padding    : 0px;
    list-style : none;
}
h1,h2,h3,h4,h5,h6,p,em {
    margin  : 0px;
    padding : 0px;
	font-weight:normal;
	font-style:normal;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.tac{
	text-align:center;
}
.hvc{
	font-family:HelveticaLight,helvetica,sans-serif;
}
.ffms{
	 font-family:"microsoft yahei", Georgia;
}
.f16{
	font-size:16px;
}
.f20{
	font-size:20px;
}
.f28{
	font-size:28px;
}
.f30{
	font-size:30px;
}
.f35{
	font-size:35px;
}
.f42{
	font-size:42px;
}
.f80{
	font-size:80px;
}
.fwnr{
	font-weight:normal;
}
.lightGray{
	color:#CCC;
}
.layout{
	margin: 0 auto;
}
.layout:after {
	clear: both;
	content: '\20';
	height: 0;
	display: block;
}
.btn{
	background-color:#ac1616;
	display:inline-block;
	border-radius:3px;
	color:#FFF;
	text-align:center;
}
.db{
	display:block;
}