html {
    height  : 100%;
    width   : 100%;

    margin  : 0px;
    padding : 0px;

}

body {
    font-size   : 13px;
    font-family : 'Arial';

    height      : 100%;
    width       : 100%;

    margin      : 0px;
    padding     : 0px;
}

dl, dt, dd {
    margin  : 0px;
    padding : 0px;
}

ol, ul, li {
    margin     : 0px;
    padding    : 0px;
    list-style : none;
}
h1,h2,h3,h4,h5,h6,p,em {
    margin  : 0px;
    padding : 0px;
	font-weight:normal;
	font-style:normal;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.tac{
	text-align:center;
}
.tal{
	text-align:left;
}
.tar{
	text-align:right;
}
.hvc{
	font-family:HelveticaLight,helvetica,sans-serif;
}
.ffms{
	 font-family:"microsoft yahei", Georgia;
}
.sthtm{
	font-family:STHeiti-Medium;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing:antialiased;
}
.f14{
	font-size:1.4em;
}
.f16{
	font-size:1.6em;
}
.f18{
	font-size:1.8em;
}
.f20{
	font-size:2.0em;
}
.f24{
	font-size:2.4em;
}
.f28{
	font-size:2.8em;
}
.f30{
	font-size:3.0em;
}
.f32{
	font-size:3.2em;
}
.f35{
	font-size:3.5em;
}
.f36{
	font-size:3.6em;
}
.f42{
	font-size:4.2em;
}
.f80{
	font-size:8.0em;
}
.red{
	color:#ab1717;
}
.gray{
	color:#737373;
}
.fwnr{
	font-weight:normal;
}
.lightGray{
	color:#CCC;
}
.layout{
	margin: 0 auto;
}
.layout:after {
	clear: both;
	content: '\20';
	height: 0;
	display: block;
}
.btn{
	background:#ac1616;
	display:inline-block;
	border-radius:3px;
	color:#FFF;
	text-align:center;
}
.btn:hover{
	background:#d03a3a;
	color:#FFF;
}
.db{
	display:block;
}
.text-input{
	padding:8px;
	border:1px solid #b5b5b5;
}
/* .text-input:hover{
	border-color:#b5b5b5;
	-webkit-box-shadow:inset 0 1px #f5f5f5;
	-moz-box-shadow:inset 0 1px #f5f5f5;
	box-shadow:inset 0 1px #f5f5f5
} */
.text-input:hover{
border:1px solid #b5b5b5;-webkit-box-shadow:inset 0 1px #f5f5f5;-moz-box-shadow:inset 0 1px #f5f5f5;box-shadow:inset 0 1px #f5f5f5;
}
.text-input:focus{
	border-color:#ac1616;
	outline:0;
	-webkit-box-shadow:0 0 8px rgba(171,23,23,.6);-moz-box-shadow:0 0 8px rgba(171,23,23,.6);
	box-shadow:0 0 8px rgba(171,23,23,.6)
}