@font-face {
  font-family: HelveticaLight;
  src: local("Helvetica Neue Light"),
       url(../font/HelveticaNeueLight.ttf);
}
.color_select li{
	background:url(../images/sprite.png) no-repeat;
}
.btn:hover{
	text-decoration:none;
}
.container {
}

.wrapper {
    min-width : 1200px;
}

.wrapper .header {
    width         : 100%;
    border-bottom : 1px solid #ededed;
     position      : absolute;
	top:0;
	left:0;
    background    : rgba(255, 255, 255, 0.2);
	z-index:9999;
}

.wrapper .header .navbar {
    height : 72px;
    margin : 0 auto;
    width  : 1200px;
}

.wrapper .header .navbar .logo {
    float   : left;
    height  : 72px;
    width   : 72px;
    display : inline-block;
    background : url(../images/logo.gif) center center no-repeat;
}

.wrapper .header .navbar ul {
    float       : right;
    line-height : 24px;
    margin      : 24px 0px;
}

.wrapper .header .navbar ul li {
    float : left;
}

.wrapper .header .navbar ul li a {
    color           : #999;
    display         : block;
    font-size       : 16px;
    margin          : 0 30px 0 30px;
    text-decoration : none;
}

.wrapper .header .navbar a:hover {
    color : #a91815;
}

.wrapper .header .navbar ul li .vline {
    display     : block;
    width       : 1px;
    height      : 20px;
    margin      : 2px 20px 2px 0px;
    overflow    : hidden;
    border-left : 1px solid #999999;
}

.wrapper .header .navbar ul li .button {
    height           : 24px;
    width            : 56px;
    padding          : 0px;
    line-height      : 24px;
    color            : #ffffff;
    text-align       : center;
    margin           : 0px 10px;
    background-color : #ac1617;
}

.wrapper .header .navbar ul li .button#btnsignin {
    background-color  : #ac1617;
}

.wrapper .header .navbar ul li .button#btnsignup {
    background-color  : #999999;
}

.wrapper .gallery {
    clear : both;
}

.wrapper .gallery .slides {
}

.wrapper .gallery .buttons {
    position : fixed;
    right    : 77px;
    top      : 50%;
	z-index:99999999;
}

.wrapper .gallery .buttons .indicator {
    cursor     : pointer;
    margin     : 15px 0px;
    width      : 14px;
    height     : 14px;
    border-radius : 8px;
    background : rgba(0, 0, 0, 0.4);
    background : #000\9;
	filter:alpha(opacity=40);
}

.wrapper .gallery .buttons .indicator.selected {
    background : rgba(188, 40, 40, 0.4);
    background : #bc2828\9;
}

.wrapper .gallery .slide {
    clear           : both;
    background-size : cover;
    position        : relative;
	background-color:#fefefe;
}

.wrapper .gallery .slide .section {
    margin     : 0 auto;
	margin-top: -300px;
    /* min-height : 600px; */
    height : 600px;
	width:1200px;
    top        : 50%;
    left       : 0px;
    right      : 0px;
    /* padding    : 70px 0px; */
    position   : absolute;
	color:#444;
}
.wrapper .gallery .slide01 .section .titleTop{
	margin-top:30px;
}
.wrapper .gallery .slide01 .section .sub{
    display     : block;
    line-height : 40px;
    left        : 0px;
    right       : 0px;
    bottom      : -10px;
    text-align  : center;
    text-size   : 16px;
    position    : absolute;
}

.wrapper .gallery .slide02 {
    position            : relative;
    background-position : center center;
    background-repeat   : no-repeat;
}





.wrapper .gallery .slide02 .text b {
    color     : #bc2828;
    font-size : 80px;
}

.wrapper .gallery .slide02 .text dl dt {
    color     : #ffffff;
    font-size : 40px;
    margin    : 20px 0px;
}

.wrapper .gallery .slide02 .text dl dd {
    color       : #7c7d79;
    font-size   : 20px;
    line-height : 30px;
    margin-top  : 30px;
}

.wrapper .gallery .slide03 {
    /* position            : relative; */
    background-position : center center;
    background-relative : no-repeat;
}

.wrapper .gallery .slide03 .section .title_img {
    margin-bottom:30px;
	/* position : absolute;
    top      : 70px; */

}

.wrapper .gallery .slide03 .section ul li {
    /* float  : left; 
    height : 400px;
    width  : 45%;
    border : 1px solid red;*/
	position:absolute;
}
.wrapper .gallery .slide03 .section ul .part1{
	top:110px;
	left:570px;
	z-index:999;
}
.wrapper .gallery .slide03 .section ul .part2{
	top:140px;
	right:491px;
}
.wrapper .gallery .slide03 .section ul .part3{
	bottom:-50px;
	left:380px;
}
.wrapper .gallery .slide03 .section ul .part4{
	bottom:-30px;
	right:456px;
}
.wrapper .gallery .slide03 .section ul .img_cont{
	background-image:url(about_blank);
}
.wrapper .gallery .slide03 .section ul li01 {
    /* text-align : right; */
}

.wrapper .gallery .slide03 .section ul li01 img {
    margin-right : 50px;
}
.wrapper .gallery .slide03 .section ul li02 img {
    margin-top : 30px;
}
.wrapper .gallery .slide04 .section .title_img{
	margin-bottom:30px;
}
.wrapper .gallery .slide04 .section .img_cont{
	position:absolute;
	left:50%;
	margin-left:-385px;
	top:275px;
}
.wrapper .gallery .slide04 .section .sub_text{
	position:absolute;
	bottom:120px;
	width:100%;
}
.wrapper .gallery .slide05{
	/* background:url(../images/index/box5/baozhuang.png) 0 center no-repeat; */
	/*background-size:contain;*/
}
/* .wrapper .gallery .slide:nth-child(4){
    background-image    : url(../images/index/box4/bg_box4.jpg);
    background-position : center center;
    background-relative : no-repeat;
} */
.wrapper .gallery .slide .lfColumn,.wrapper .gallery .slide .rgColumn{
	float:left;
	display:inline;
	width:50%;
}
.wrapper .gallery .slide .lfColumn{
	height:100%;
	margin-left:-30px;
}
.wrapper .gallery .slide .rgColumn .textField{
	margin-left:140px;
}
.wrapper .gallery .slide .rgColumn .title em{
	color:#ac1616;
	margin-right:15px;
}
.wrapper .gallery .slide .rgColumn .sub{
	color:#939393;
	width:430px;
	line-height:1.8em;

}
.wrapper .gallery .slide .rgColumn .intro{
	margin-top:30px;
}
.wrapper .gallery .slide .rgColumn .price{
	color: #AC1616;
	margin-top:30px;
}
.wrapper .gallery .slide .rgColumn .color_select{
	margin-top:40px;
}
.wrapper .gallery .slide .rgColumn .select_sub{
	margin-top:5px;
}
.wrapper .gallery .slide .btn{
	min-width:170px;
	height:50px;
	line-height:50px;
}
.wrapper .gallery .slide .section img {
    display : block;
    margin  : 0 auto;
}

.wrapper .footer {
    height     : 240px;
    background : #333333;
}

.wrapper .footer .navbar {
    width   : 1200px;
    margin  : 0 auto;
    padding : 30px 0px;
}

.wrapper .footer .navbar dl {
    color : #a5a5a5;
    float : left;
    width : 30%;
}

.wrapper .footer .navbar dl dt {
    color       : white;
    font-size   : 18px;
    font-weight : bold;
    line-height : 60px;
}
.wrapper .gallery .slide .support{
	position:absolute;
	bottom:0;
	left:0;
	width:420px;
}
.wrapper .gallery .slide .support h2{
	margin-bottom:15px;
}
.wrapper .gallery .slide .support a,.wrapper .gallery .slide .support h2{
	color:#bc2828;
}
.wrapper .gallery .slide .download{
	position:absolute;
	right:0;
	bottom:0;
}
.wrapper .gallery .slide .download .ewm,.wrapper .gallery .slide .download .textField{
	float:left;
	display:inline;
}
.wrapper .gallery .slide .download .textField{
	margin-left:15px;
	color:#8b8b8b;
	margin-top:5px;
}
.color_select li{
	width:47px;
	height:47px;
	overflow:hidden;
	float:left;
	cursor:pointer;
	margin-right:5px;
}
.color_select .picker01{
	background-position:0 0;
}
.color_select .picker02{
	background-position:-60px 0;
}
.color_select .picker03{
	background-position:-117px 0;
}
.color_select .selected{
	background-position-y:-56px;
}
.detail01{
	left: 823px;
	top: 173px;
}
.detail02{
	left: -20px;
	bottom: -30px;
}
.detail03{
	left: 859px;
	bottom: 0px;
}
.detail{
	width:275px;
	position:absolute;
}
.detail .line{
	border-bottom:1px solid #8A8A8A;
	position:absolute;
	top:22px;
	left:-130px;
	width:130px;
	height:0;
}
.detail .dot{
	width:19px;
	height:19px;
	float:left;
	border-bottom:1px solid #8A8A8A;
	padding-bottom:3px;
}
.detail .title{
	line-height:19px;
}
.detail span{
	color:#FFF;
	line-height:19px;
	float:left;
	padding-left:5px;
	padding-bottom:3px;	
	border-bottom:1px solid #8A8A8A;
}
.detail p{
	line-height:24px;
	color:#8a8a8a;
	margin-top:15px;
}
.left_detail .title{
	text-align:right;
}
.left_detail span{
	padding-left:0px;
	padding-right:5px;
}
.left_detail span,.left_detail .dot{
	float:right;
}
.left_detail .line{
	left:auto;
	right:-130px;
}
.left_detail p{
	text-align:right;
}
.detail .btn{
	background-color:#474747;
	width:100px;
	height:37px;
	line-height:37px;
	margin-top:40px;
}
.detail01 .dot{
	background:url(../images/num1.png) no-repeat;
}
.detail02 .dot{
	background:url(../images/num2.png) no-repeat;
}
.detail03 .dot{
	background:url(../images/num3.png) no-repeat;
}
.title_cont,.text_cont,.img_cont{
	opacity:0;
	filter:alpha(opacity=0);
}

/*home*/
.home .gallery .slide01 .left {
	width:100%;
    top        : 0px;
    bottom     : 0px;
    left       : 0px;
    right      : 0px;
    position   : absolute;
    background : url(../images/index/box1/bg_banner1.png) center left no-repeat;
}
.home .gallery .slide01 .right {
	width:100%;
    top        : 0px;
    bottom     : 0px;
    left       : 0px;
    right      : 0px;
    position   : absolute;
    background : url(../images/index/box1/bg_banner2.png) center right no-repeat;
}
.home .gallery .slide02 {
	background-image    : url(../images/index/box2/bg_box2.jpg);
}
.home .gallery .slide .btn{
	margin-top:45px;
}
.home  .gallery .slide02 .section .text {
    width        : 500px;
    top          : 50%;
    margin-left  : auto;
    margin-top  : -162px;
    right        : 50px;
    position     : absolute;
}
.home .gallery .slide02 .section .button.play {
    width       : 127px;
    height      : 127px;
    display     : block;
    position    : absolute;
    top         : 50%;
    margin-left : 254px;
    margin-top  : -63.5px;
    background  : url(../images/index/box2/video_btn.png) center center no-repeat;
}
.home .gallery .slide03 {
	background-image    : url(../images/index/box3/bg_box3.jpg);
}
/*app*/
.app .gallery .slide .section{
	width:80%;
}
.app .gallery .slide01{
	background-color:#18173a;
	background : url(../images/app/box1/bg_box1.jpg) no-repeat 100% center ;
	background : url(../images/app/box1/bg_box1.jpg) no-repeat 62% center \9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.app .gallery .slide .download{
	right:0%;
	top:50%;
	bottom:auto;
	margin-top:-157px;
}
.app .gallery .slide .download .title{
	/* margin-bottom:30px; */
}
.app .gallery .slide01 .btn{
	margin:70px 0;
}
.app  .gallery .slide01 .section .img_cont{
width: 769px;
height: 604px;
position: absolute;
left: -50%;
top: 4%;
opacity:0;
filter:alpha(opacity=0);
/* background: url(../images/app/box1/app.png) no-repeat center center; */
-webkit-background-size: cover;
}
.app .gallery .slide02{
	background-color:#FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.app .gallery .slide02 .btn{
	background-color:#8a8a8a;
	margin-top:90px;
}
.app  .gallery .slide02 .section .title_cont{
    width        : 300px;
    top          : 50%;
    margin-left  : auto;
    margin-top  : -109px;
    right        : 10%;
    position     : absolute;
	filter:alpha(opacity=0);
	opacity:0;
	z-index:999;
}
.app .header {
	background:none;
	border-bottom-color:#484d66;
}
.app .slide02 .img_cont{
	position:absolute;
	width:793px;
	height:532px;
	bottom:0;
	left:-30%;
	z-index:998;
}

@media (max-width: 767px)