@font-face {
  font-family: HelveticaLight;
  src: local("Helvetica Neue Light"),
       url(../font/HelveticaNeueLight.ttf);
}
.type .select,.type .correct,.type .error,.type .other{
	background:url(../images/type/select.gif) no-repeat;
	overflow:hidden;
	width:16px;
	height:16px;
	display:block;	
}
.color_select li{
	background:url(../images/sprite.png) no-repeat;
}
.btn:hover{
	text-decoration:none;
}
._container {
	font-size:77%;
}
._container .gallery{
	font-size:77%;
}

.wrapper {
    width : 100%;
}

.wrapper .header {
    width         : 100%;
    border-bottom : 1px solid #ededed;
    /*  position      : absolute;
	top:0;
	left:0; */
    background    : rgba(255, 255, 255, 0.2);
}

.wrapper .header .navbar {
    margin : 0 10%;
}

.wrapper .header .navbar .logo {
    float   : left;
    height  : 72px;
    width   : 72px;
    display : inline-block;
    background : url(../images/logo.gif) center center no-repeat;
}

.wrapper .header .navbar ul {
    float       : right;
    line-height : 24px;
    margin      : 24px 0px;
}

.wrapper .header .navbar ul li {
    float : left;
}

.wrapper .header .navbar ul li a {
    color           : #999;
    display         : block;
    font-size       : 1.6em;
    margin          : 0 30px 0 30px;
    text-decoration : none;
}

.wrapper .header .navbar a:hover {
    color : #a91815;
}

.wrapper .header .navbar ul li .vline {
    display     : block;
    width       : 1px;
    height      : 20px;
    margin      : 2px 20px 2px 0px;
    overflow    : hidden;
    border-left : 1px solid #999999;
}

.wrapper .header .navbar ul li .button {
    height           : 24px;
    width            : 56px;
    padding          : 0px;
    line-height      : 24px;
    color            : #ffffff;
    text-align       : center;
    margin           : 0px 10px;
    background-color : #ac1617;
}

.wrapper .header .navbar ul li .button#btnsignin {
    background-color  : #ac1617;
}

.wrapper .header .navbar ul li .button#btnsignup {
    background-color  : #999999;
}

.wrapper .gallery {
    clear : both;
}

.wrapper .gallery .slides {
	overflow:hidden;
}

.wrapper .gallery .buttons {
    position : fixed;
    right    : 77px;
    top      : 50%;
	z-index:99999999;
}

.wrapper .gallery .buttons .indicator {
    cursor     : pointer;
    margin     : 15px 0px;
    width      : 14px;
    height     : 14px;
    border-radius : 8px;
    background : rgba(0, 0, 0, 0.4);
    background : #000\9;
	filter:alpha(opacity=40);
}

.wrapper .gallery .buttons .indicator.selected {
    background : rgba(188, 40, 40, 0.4);
    background : #bc2828\9;
}

.wrapper .gallery .slide {
    clear           : both;
    background-size : cover;
    position        : relative;
	background-color:#fefefe;
	overflow:hidden;
}

.wrapper .gallery .slide .section {
    margin     : auto;
    height : 80%;
	width:80%;
    top        : 0;
    left       : 0;
    right      : 0;
	bottom     :0;
    position   : absolute;
	color:#444;
}
.wrapper .gallery .slide01 .section .titleTop{
	margin-top:30px;
}
.wrapper .gallery .slide01 .section .sub{
    display     : block;
    line-height : 1.2em;
    left        : 0px;
    right       : 0px;
    bottom      : -10px;
    text-align  : center;
    font-size   : 1.6em;
    position    : absolute;
}

.wrapper .gallery .slide02 {
    position            : relative;
    background-position : center center;
    background-repeat   : no-repeat;
}





.wrapper .gallery .slide02 .text b {
    color     : #bc2828;
    font-size : 8em;
}

.wrapper .gallery .slide02 .text dl dt {
    color     : #ffffff;
    font-size : 4em;
    margin    : .3em 0px;
}

.wrapper .gallery .slide02 .text dl dd {
    color       : #7c7d79;
    font-size   : 2em;
    line-height : 1.6em;
}

.wrapper .gallery .slide03 {
    /* position            : relative; */
    background-position : center center;
    background-relative : no-repeat;
}

.wrapper .gallery .slide03 .section .title_img {
    margin-bottom:30px;
	/* position : absolute;
    top      : 70px; */

}

.wrapper .gallery .slide03 .section ul li {
    /* float  : left; 
    height : 400px;
    width  : 45%;
    border : 1px solid red;*/
	position:absolute;
}
.wrapper .gallery .slide03 .section ul .part1{
	top:0;
	bottom:0;
	margin:auto;
	left:582px;
	z-index:999;
	height:400px;
}
.wrapper .gallery .slide03 .section ul .part2{
	top:0;
	bottom:0;
	margin:auto;
	height:300px;
	right:487px;
}
.wrapper .gallery .slide03 .section ul .part3{
	bottom:-50px;
	left:380px;
}
.wrapper .gallery .slide03 .section ul .part4{
	bottom:-30px;
	right:456px;
}
.wrapper .gallery .slide03 .section ul .img_cont{
	background-image:url(about_blank);
}
.wrapper .gallery .slide03 .section ul li01 {
    /* text-align : right; */
}

.wrapper .gallery .slide03 .section ul li01 img {
    margin-right : 50px;
}
.wrapper .gallery .slide03 .section ul li02 img {
    margin-top : 30px;
}
.home .gallery .slide04 .section .title_img{
	margin:0 auto 3% auto;
	width:24%;
}
.home .gallery .slide04 .section .img_cont{
	position:absolute;
	left:0;
	right:0;
	top:50%;
	margin:auto;
	width:50%;
}
.home .gallery .slide04 .section .sub_text{
	position:absolute;
	bottom:20%;
	width:100%;
}
.wrapper .gallery .slide05{

}

.wrapper .gallery .slide .lfColumn,.wrapper .gallery .slide .rgColumn{
	float:left;
	display:inline;
	width:50%;
	height:100%;
	position:relative;	
}
.wrapper .gallery .slide .lfColumn{



}
.wrapper .gallery .slide .lfColumn .static_cont{
	width:90%;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;	
	height:80%;
}
.wrapper .gallery .slide .rgColumn .textField{
margin: auto;
height: 56%;
width: 71%;
left:0;
right:0;
position:absolute;
	top:0;
	bottom:0;
}
.wrapper .gallery .slide .rgColumn .title em{
	color:#ac1616;
	margin-right:.1em;
}
.wrapper .gallery .slide .rgColumn .sub{
	color:#939393;
	width:430px;
	line-height:1.8em;

}
.wrapper .gallery .slide .rgColumn .intro{
	margin-top:1em;
}
.wrapper .gallery .slide .rgColumn .price{
	color: #AC1616;
	margin-top:.8em;
}
.wrapper .gallery .slide .rgColumn .color_select{
	margin-top:1em;
}
.wrapper .gallery .slide .rgColumn .select_sub{
	margin-top:5px;
}
.wrapper .gallery .slide .rgColumn .sub{
	width:100%;
}
.wrapper .btn{
	min-width:170px;
	height:50px;
	line-height:50px;
}
.wrapper .gallery .slide .section img {
    display : block;
	max-width:100%;
}

.wrapper .footer {
    height     : 240px;
    background : #333333;
}

.wrapper .footer .navbar {
    width   : 80%;
    margin  : 0 auto;
    padding : 30px 0;
}

.wrapper .footer .navbar dl {
    color : #a5a5a5;
    float : left;
    width : 30%;
}
.wrapper .footer .navbar dl dd{
	width:80%;
}
.wrapper .footer .navbar dl .copyright{
	color:#666;
	padding-top: .5em;
}
.wrapper .footer .navbar dl dt {
    color       : white;
    font-size   : 1.8em;
    font-weight : bold;
    line-height : 60px;
}
.wrapper .gallery .slide .support{
	position:absolute;
	bottom:0;
	left:0;
	width:420px;
}
.wrapper .gallery .slide .support h2{
	margin-bottom:15px;
}
.wrapper .gallery .slide .support a,.wrapper .gallery .slide .support h2{
	color:#bc2828;
}
.wrapper .gallery .slide .download{
	position:absolute;
	right:0;
	bottom:0;
}
.wrapper .gallery .slide .download .ewm,.wrapper .gallery .slide .download .textField{
	float:left;
	display:inline;
}
.wrapper .gallery .slide .download .textField{
	margin-left:15px;
	color:#8b8b8b;
	margin-top:5px;
}
.color_select li{
	width:47px;
	height:47px;
	overflow:hidden;
	float:left;
	cursor:pointer;
	margin-right:5px;
}
.color_select .picker01{
	background-position:0 0;
}
.color_select .picker02{
	background-position:-60px 0;
}
.color_select .picker03{
	background-position:-117px 0;
}
.color_select .selected{
	background-position-y:-56px;
}
.detail01{
	left: 823px;
	top: 0;
	height:145px;
	bottom:0;
	margin:auto;
}
.detail02{
	left: -20px;
	bottom: -30px;
}
.detail03{
	left: 859px;
	bottom: 0px;
}
.detail{
	width:275px;
	position:absolute;
}
.detail .line{
	border-bottom:1px solid #8A8A8A;
	position:absolute;
	top:22px;
	left:-130px;
	width:130px;
	height:0;
}
.detail .dot{
	width:19px;
	height:19px;
	float:left;
	border-bottom:1px solid #8A8A8A;
	padding-bottom:3px;
}
.detail .title{
	line-height:19px;
}
.detail span{
	color:#FFF;
	line-height:19px;
	float:left;
	padding-left:5px;
	padding-bottom:3px;	
	border-bottom:1px solid #8A8A8A;
}
.detail p{
	line-height:24px;
	color:#8a8a8a;
	margin-top:15px;
}
.left_detail .title{
	text-align:right;
}
.left_detail span{
	padding-left:0px;
	padding-right:5px;
}
.left_detail span,.left_detail .dot{
	float:right;
}
.left_detail .line{
	left:auto;
	right:-130px;
}
.left_detail p{
	text-align:right;
}
.detail .btn{
	background-color:#474747;
	width:100px;
	height:37px;
	line-height:37px;
	margin-top:40px;
}
.detail01 .dot{
	background:url(../images/num1.png) no-repeat;
}
.detail02 .dot{
	background:url(../images/num2.png) no-repeat;
}
.detail03 .dot{
	background:url(../images/num3.png) no-repeat;
}
.title_cont,.text_cont,.img_cont{
	opacity:0;
	filter:alpha(opacity=0);
}

/*home*/
.home .header,.app .header{
	position:absolute;
	left:0;
	top:0;
	z-index:9999;
}
.home .gallery .slide01 .left {
	width:100%;
    top        : 0px;
    bottom     : 0px;
    left       : 0px;
    right      : 0px;
    position   : absolute;
    background : url(../images/index/box1/bg_banner1.png) center left no-repeat;
}
.home .gallery .slide01 .right {
	width:100%;
    top        : 0px;
    bottom     : 0px;
    left       : 0px;
    right      : 0px;
    position   : absolute;
    background : url(../images/index/box1/bg_banner2.png) center right no-repeat;
}
.home .gallery .slide01 .title_cont{
	width:35%;
	margin:0 auto;
}
.home .gallery .slide01 .img_cont{
width: 45%;
margin: 4% auto;
}
.home .gallery .slide02 {
	background-image    : url(../images/index/box2/bg_box2.jpg);
}
.home .gallery .slide .btn{
	margin-top:1.1em;
}
.home  .gallery .slide02 .section .title_cont {
    width        : 47%;
	height:50%;
    top          : 0;
	bottom:0;
    margin  : auto;
    right        : 5%;
    position     : absolute;
}
.home .gallery .slide02 .section .img_cont  {
    width       : 127px;
    height      : 127px;
    display     : block;
    position    : absolute;
    top         : 50%;
    margin-left : 20%;
    margin-top  : -63.5px;
    background  : url(../images/index/box2/video_btn.png) center center no-repeat;
	background-size:cover;
}
.home .gallery .slide03 {
	background-image    : url(../images/index/box3/bg_box3.jpg);
}
.home .gallery .slide03 .section{
	width: 1200px;
	/* height:650px; */
}
.home .gallery .slide03 .section .title_img {
	position : absolute;
    top      : 0;
	left:0;
	right:0;
	width:221px;
	margin:auto;
}
/*app*/
.app .gallery .slide .section{
	width:80%;
}
.app .gallery .slide01{
	background-color:#18173a;
	background : url(../images/app/box1/bg_box1.jpg) no-repeat 100% center ;
	background : url(../images/app/box1/bg_box1.jpg) no-repeat 62% center \9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.app .gallery .slide .download{
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:30%;
	height:50%;
}
.app .gallery .slide .download .title{
	/* margin-bottom:30px; */
}
.app .gallery .slide01 .btn{
	margin:10% 0;
}
.app  .gallery .slide01 .section .img_cont{
width: 64%;
height: 79%;
position: absolute;
margin:auto;
left: 0;
top: 0;
bottom:0;
opacity:0;
filter:alpha(opacity=0);
/* background: url(../images/app/box1/app.png) no-repeat center center; */
-webkit-background-size: cover;
}
.app .gallery .slide02{
	background-color:#FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.app .gallery .slide02 .img_cont img{
	max-width:100%;
}
.app .gallery .slide02 .btn{
	background-color:#8a8a8a;
	margin-top:3em;
}
.app  .gallery .slide02 .section .title_cont{
    width        : 30%;
    top          : 0;
    bottom          : 0;
	height:25%;
    margin  : auto;
    right        : 10%;
    position     : absolute;
	filter:alpha(opacity=0);
	opacity:0;
	z-index:999;
	text-align:right;
}
.app  .gallery .slide02 .section .title_cont img{
	/* max-width:100%; */
}
.app .header {
	background:none;
	border-bottom-color:#484d66;
}
.app .slide02 .img_cont{
	position:absolute;
	/* width:150%; */
	/* height:60%; */
	bottom:-.5%;
	left:-30%;
	z-index:998;
	width:50%;
}


/*type*/
.type .header .navbar {
    margin : 0 auto;
	width:1000px;
}
.type .title{
	height:40px;
	line-height:40px;
	border-bottom:1px solid #CCC;
	margin-top:40px;
}
.type .search{
	padding:18px;
	width:85%;
}
.type .searchCont{
	margin-top:80px;
	margin-bottom:78px;
}
.type .sub{
	margin-top:5px;
	margin-bottom:5px;
	padding-right:25px;
}
.type .state{
	margin-left:140px;
	padding-bottom:73px;
}
.type .wm_search{
	border-bottom:1px solid #CCC;
}
.type .categorys{margin-bottom:15px; }
.type .categorys li{ width: 158px; margin: 10px 2px 0px 6px; height: 80px; background: url(../images/type/categorys.png) no-repeat 1px 0; float: left; display: inline; }
.type .categorys li p{ margin:0 auto; width: 142px; height: 66px; cursor: pointer;position:relative;border:solid 1px #CCC;}
.type .phones{
	background-color:#f4f4f4;
	border-top:1px solid #CCC;
	padding-bottom:15px;
}
.type .phones .items{
	float:left;
	width:170px;
	height:145px;
	margin:15px;
	padding-top:15px;
	text-align:center;
}
.type .phones .items p{
	color:#999;
	margin-top:15px;
	font-size:1.4em;
	line-height:16px;
	height:16px;
}
.type .phonesCont{
	margin-bottom:30px;
}
.type .categorys .select{
	position:absolute;
	bottom:8px;
	right:8px;
}
.type .error{
	background-position:0 -42px;
	display:inline-block;
	vertical-align:middle;
	margin-left:8px;	
}
.type .correct{
	background-position:0 -21px;
	display:inline-block;
	vertical-align:middle;
	margin-left:8px;	
}
.type .other{
	background-position:0 -64px;
	display:inline-block;
	vertical-align:middle;
	margin-left:8px;
}
/*===========================
 * INFO
 *===========================*/
.info .wrapper{
width: 1000px;
margin: 0 auto;
position: relative;
}
.info .header{
	background-color: #fff;
}
.info{
	background:#E7E7E7 url(../images/info/info_bg.jpg) center top no-repeat;
}
.info .wrapper{
	padding-top:18px;

}
#info-banner{
	width:1000px;
	height:156px;
	text-indent:-9999px;
	margin-bottom:28px;
	background:url(../images/info/info_banner_bg.jpg) 0 0 no-repeat;
}
/* info side bar */
ul#info-sidebar{
	list-style:none;
	margin-left:7px;
	width:186px;
	float:left;
}
ul#info-sidebar>li{
	margin-bottom:21px;
}
ul#info-sidebar>li>a{
	display:block;
	font-size:20px;
	line-height:29px;
	height:29px;
	padding-left:42px;
	color:#434343;
	background-image:url(../images/info/info_sidebar_icons.png);
	background-repeat:no-repeat;
}
ul#info-sidebar>li>a:hover{
	color:#AA1816;
}
ul#info-sidebar>li>a.about{
	background-position:0 0;
}
ul#info-sidebar>li>a.about.current, ul#info-sidebar>li>a.about:hover{
	background-position:0 -29px;
}
ul#info-sidebar>li>a.join{
	background-position:0 -58px;
}
ul#info-sidebar>li>a.join.current, ul#info-sidebar>li>a.join:hover{
	background-position:0 -87px;
}
ul#info-sidebar>li>a.feedback{
	background-position:0 -116px;
}
ul#info-sidebar>li>a.feedback.current, ul#info-sidebar>li>a.feedback:hover{
	background-position:0 -145px;
}
ul#info-sidebar>li>ul{
	margin:11px 0 21px 42px;
	list-style:none;
}
ul#info-sidebar>li>ul>li{
	overflow:visible;
	margin-bottom:4px;
}
ul#info-sidebar>li>ul>li>a{
	display:block;
	line-height:32px;
	height:32px;
	width:161px;
	padding-left:26px;
	color: #161A23;
}
ul#info-sidebar>li>ul>li>a:hover{
	color: #A91717;
}
ul#info-sidebar>li>ul>li>a.active{
	background:url(../images/info/info_sidebar_bg.png) 0 0 no-repeat;
}
/* info content */
#info-content{
	float:right;
	width:771px;
	padding-left:32px;
	border-left:#D0D0D0 1px solid;
}
#info-content h2{
	font-size:16px;
	font-weight:bold;
	line-height:29px;
	color:#434343;
	padding-left:15px;
	background:url(../images/info/dot_info_title.gif) 0 center no-repeat;
}
#info-content .article{
	margin:13px 0 50px 35px;
	width:688px;
}
#info-content .article p{
	line-height:26px;
	text-indent:2em;
}
#info-content .article img{
	display:block;
	margin:30px auto;
}
#info-content .article li{
	list-style-position:inside;
	line-height:26px;
}
#info-content .article ul{
	list-style:none;
}
#info-content .article > ul > li{
	color:#AB1717;
	font-weight:bold;
	margin-bottom:30px;
}
#info-content .article > ul > li > ul{
	color:#333;
}
#info-content .article > ul > li > ul > li{
	margin-bottom:15px;
}
#info-content .article > ul > li > ul > li p{
	font-weight:normal;
}
/* about */
#about{
}
/* guide */
#guide{
}
/* faq */
#info-content #faq p{
	text-indent:0;
}
/* job */
#info-content #job li span{
	font-weight:normal;
}
/* feedback */
#feedback{
	margin-top:52px;
}
#feedback h3{
	text-align:center;
	font-size:32px;
	line-height:32px;
	margin-bottom:12px;
	font-weight:bold;
	color:#444;
}
#feedback h3 span{
	color:#AA1816;
}
#feedback p{
	text-align:center;
	font-size:16px;
	line-height:16px;
}
#feedback form{
	margin:48px 0 0 38px;
	width:667px;
	height:308px;
}
#feedback form .text-error{
	text-align:center;
	line-height:20px;
	font-weight:bold;
	height:20px;
	margin-bottom:20px;
}
#feedback .feedback_info{
    float:left;
    width:400px;
    height:60px;
}
#feedback label{
	width:100px;
	font-size:16px;
	line-height:44px;
	font-weight:normal;
	float:left;
	margin-bottom:28px;
}
#feedback input.form-control{
	line-height:16px;
	height:16px;
	width:255px;
	padding:13px;
	float:left;
}

#feedback textarea{
	width:100%;
	height:120px;
	margin-bottom:10px;
}
#feedback .btn{
	width:119px;
	float:right;
	margin-bottom:20px;
	min-width:0;
	height:auto;
	line-height:normal;
}
.btn-m {
padding: 14px 25px;
font-size: 16px;
line-height: 16px;
}
#feedback a{
	color:#A91717;
}

/*鏌ヨ璁㈠崟鍙�*/
#checkbox {
    width:500px;
    margin:0 auto;
    padding:100px 0;
}

#checkbox .btn{
    margin:20px 0;
} 

#checkbox #ordernumber{
    margin:20px 0;
    height:20px;
}

#checkbox .red{
    color:red;
}

 #checkbox #error{
    color:red;
 }


@media (max-width: 319px){
.app .gallery .slide .download {
	width:100%;
	top:0;
	margin:0;
}
.app .gallery .slide02 .section .title_cont{
	width:100%;
}
/* .app .gallery .slide01 .section .img_cont{
	width:100%;
	bottom:0;
	top:;
} */
}


@media (max-width: 320px){
.wrapper .header .navbar .logo{
	display:none;
}
._container .gallery{
	font-size:50%;
}
.wrapper{
	width:100%;
	min-width:0;
}
.wrapper .header .navbar .logo{
	width:60px;
	height:60px;
	background-size:cover;
	float:left;	
}
.wrapper .header .navbar{
	width: 100%;
	margin:0;
}
.wrapper .header .navbar ul{
	margin:0;
	display:inline-block;
	/* float:left; */
	margin:5px;
}
.wrapper .header .navbar ul li a{
	margin: 0;
	margin-right:15px;
}
.wrapper .gallery .buttons{
	visibility:hidden;
	z-index:0;
}
.wrapper .gallery .slide .section{
	/* height:400px;
	margin-top:-200px; */
}
.wrapper .gallery .slide .lfColumn, .wrapper .gallery .slide .rgColumn{
	float:none;
	width:100%;
	display:block;
	height:auto;
	margin:0;
}
.wrapper .gallery .slide .rgColumn .textField{
	margin:0;
}
.wrapper .gallery .slide .rgColumn .price{
	margin-top:.1em;
	width:25%;
	float:left;
}
.wrapper .gallery .slide .rgColumn .intro{
	margin-top:0;
}
.wrapper .gallery .slide .rgColumn .color_select{
	margin-top:0;
}
.home .gallery .slide .btn{
	margin-top:1em;
}
.home .gallery .slide01 .title_cont{
	width:100%;
}
.home .gallery .slide01 .img_cont{
	width:100%;
}
.home .gallery .slide02 .section .img_cont{
top: auto;
bottom: 10%;
left: 50%;
width: 90px;
height: 90px;
margin-left: -45px;
}
.home .gallery .slide02 .section .title_cont{
	width:100%;
	margin:auto;
	right:0;
	top:0;
}
.home .gallery .slide04 .section .title_img{
	width:80%;
}
.home .gallery .slide04 .section .img_cont{
	width:100%;
	left:0;
	margin:0;
	
}
.home .gallery .slide04 .section .sub_text{
	bottom:50%;
}
.home .gallery .slide .support{
	width:100%;
	bottom: 25%;
}
.home .gallery .slide .download{
	right:auto;
	left:0;
	width:100%;
	bottom:0;
}
.home .ico_android_download{
	display:block;
}
.home .gallery .slide .download .ewm, .wrapper .gallery .slide .download .textField{
	width:114px;
}
.home .gallery .slide05 .static_cont{
	width:50%;
	margin:0 auto;
}

.app .gallery .slide .download{
	/* margin-top:-113px; */
}
.app .gallery .slide01 .section .img_cont{
	width:590px;
	/* height:auto; */
	/* margin:60px 0 0 -30px; */
}
.ico_android_download{
	display:none;
}
.wrapper .gallery .slide01 .section .sub{
	font-size:1.2em;
	line-height:1.2em;
	bottom: 35px;
}
.app .slide02 .img_cont{
	width: 590px;
	height:auto;
	margin: -100px 0 0 -40px;
}
.app .gallery .slide02 .section .title_cont{
	width:95%;
	top: 12%;
}
.wrapper .footer .navbar{
	padding: 15px 0px;
	width:100%;
}
.wrapper .footer .navbar dl{
	float:none;
	width: auto;
	margin-left:15px;
}
.wrapper .footer .navbar dl dt{
	font-size: 1.4em;
	line-height: 2em;
	clear:both;
}
.wrapper .footer .navbar dl dd{
	float:left;
	margin-right:15px;
}
}
@media  (min-width:321px) and (max-width: 640px){
._container .gallery{
	font-size:80%;
}
.wrapper .gallery .buttons{
	visibility:hidden;
}
.wrapper .header .navbar{
	margin:0;
}
.wrapper .header .navbar ul li a{
	margin:0;
	margin:0 15px;
}
.wrapper .header .navbar .logo{
	width:60px;
	height:60px;
	background-size:cover;
	float:left;	
}
.wrapper .header .navbar ul{
	display:inline-block;
	width:80%;
	margin:15px 0;
}
.wrapper .gallery .slide .lfColumn, .wrapper .gallery .slide .rgColumn{
	float:none;
	width:100%;
	display:block;
	height:auto;
	margin:0;
}
.wrapper .gallery .slide .rgColumn .textField{
	margin:0;
}
.wrapper .gallery .slide .rgColumn .price{
	margin-top:.1em;
	width:25%;
	float:left;
}
.wrapper .gallery .slide .rgColumn .intro{
	margin-top:0;
}
.wrapper .gallery .slide .rgColumn .color_select{
	margin-top:0;
}
.app .gallery .slide .download {
	width:100%;
	top:0;
	margin:0;
}
.app .gallery .slide02 .section .title_cont{
	width:100%;
}
.app .gallery .slide01 .section .img_cont{
	width:100%;
	bottom:0;
	height:50%;
	top:auto;
}
.home .gallery .slide .btn{
	margin-top:1em;
}
.home .gallery .slide01 .title_cont{
	width:84%;
}
.home .gallery .slide01 .img_cont{
	width:100%;
}
.home .gallery .slide02 .section .img_cont{
top: auto;
bottom: 10%;
left: 50%;
width: 130px;
height:130px;
margin-left: -65px;
}
.home .gallery .slide02 .section .title_cont{
	width:100%;
	margin:0;
	right:0;
	top:0;
}
.home .gallery .slide04 .section .title_img{
	width:54%;
}
.home .gallery .slide04 .section .img_cont{
	width:100%;
	left:0;
	margin:0;
	
}
.home .gallery .slide04 .section .sub_text{
	bottom:50%;
}
.home .gallery .slide .support{
	width:100%;
	bottom: 25%;
}
.home .gallery .slide .download{
	right:auto;
	left:0;
	width:100%;
	bottom:0;
}
.home .ico_android_download{
	display:block;
}
.home .gallery .slide .download .ewm, .wrapper .gallery .slide .download .textField{
	width:48%;
}
.home .gallery .slide05 .static_cont{
	width:75%;
	margin:0 auto;
}
}


@media  (min-width:641px) and (max-width: 768px){
._container .gallery{
	font-size:90%;
}
.wrapper .header .navbar{
	margin: 0;
}
.wrapper .header .navbar ul{
	margin:0;
	float:left;
	width:auto;
	margin: 24px 0px;
}
.wrapper .header .navbar ul li a{
	margin: 0 15px;
}
.wrapper .header .navbar .logo{
	width:72px;
	height:72px;
	float:left;
}
.wrapper .gallery .slide .section{
	/* margin-top:-350px; */
}

.wrapper .gallery .slide .lfColumn, .wrapper .gallery .slide .rgColumn{
	float:none;
	width:100%;
	display:block;
	height:auto;
	margin:0;
}
.wrapper .gallery .slide .rgColumn .textField{
	margin:0;
}
.wrapper .gallery .slide .rgColumn .price{
	margin-top:.1em;
	width:25%;
	float:left;
}
.wrapper .gallery .slide .rgColumn .intro{
	margin-top:0;
}
.wrapper .gallery .slide .rgColumn .color_select{
	margin-top:0;
}

.home .gallery .slide01 .title_cont{
	width:70%;
	margin:0 auto;
}
.home .gallery .slide01 .img_cont{
	width:100%;
	margin:0;
}
.home .gallery .slide02 .section .img_cont{
top: auto;
bottom: 10%;
left: 50%;
width: 130px;
height:130px;
margin-left: -65px;
}
.home .gallery .slide02 .section .title_cont{
	width:100%;
	margin:0;
	right:0;
	top:0;
}
.home .gallery .slide04 .section .title_img{
	width:54%;
}
.home .gallery .slide04 .section .img_cont{
	width:100%;
	left:0;
	margin:0;
	
}
.home .gallery .slide04 .section .sub_text{
	bottom:40%;
}
.home .gallery .slide .download{
	right:auto;
	left:0;
	width:100%;
	bottom:0;
}
.home .gallery .slide .support{
	width:100%;
	bottom: 20%;
}
.home .gallery .slide05 .static_cont{
	width:50%;
	margin:0 auto;
}
.app .gallery .slide .download {
right: 10%;
top: auto;
bottom: 60%;
/* margin-right: 10%; */
width: 74%;
}
.wrapper .gallery .slide .btn{
	/* margin: 50px 0; */
}
.app .gallery .slide01 .section .img_cont{
	width:70%;
	margin-left:15%;
	height:auto;
	top:auto;
	bottom:10%;
}
.app .gallery .slide02 .section .title_cont{
	margin-right: -150px;
	right: 50%;
	top:auto;
	margin-top:0;
	width:60%;
}
}


@media  (min-width:769px) and (max-width: 1024px){
._container .gallery{
	font-size:77%;
}
.wrapper{
	width:100%;
	min-width:0;
}
.wrapper .header .navbar{
	width: 100%;
	margin:0;
}
.wrapper .header .navbar ul li a{
	margin: 0 15px;
}
.wrapper .header .navbar .logo{
	background-size:cover;
	display:inline-block;
	float:left;
}
.wrapper .gallery .buttons{
	right:5%;
}
.home .gallery .slide01 .title_cont{
	width:52%;
}
.home .gallery .slide01 .img_cont{
	width:60%;
}
.home .gallery .slide04 .section .title_img{
	width:34%;
}
.home .gallery .slide .rgColumn .textField{
	margin-left:20px;
}
.home .gallery .slide05 .static_cont{
	width:90%;
}
.wrapper .gallery .slide .support{
	width:50%;
}
.app .gallery .slide .download{
	right:0;
	width:40%;
}
.app .gallery .slide01 .section .img_cont{
	width:60%;
	height:56%;
}
.ico_android_download{
	/* display:none; */
}

.app .slide02 .img_cont{
	width:89%;
	margin-left:-20%;
	/* width: 590px;
	height:auto;
	margin: -100px 0 0 -40px; */
}
.app .gallery .slide02 .section .title_cont{
	/* margin-top: -250px; */
	right: 0;
	width:46%;
}
.wrapper .footer .navbar{
	/* padding: 15px 0px; */
}
.wrapper .footer .navbar dl{
	/* float:none;
	width: auto;
	margin-left:15px; */
}
.wrapper .footer .navbar dl dt{
	/* font-size: 14px;
	line-height: 2em;
	clear:both; */
}
.wrapper .footer .navbar dl dd{
	/* float:left;
	margin-right:15px; */
}
}


@media  (min-width:1025px) and (max-width: 1366px){
	/* .app .gallery .slide01 .section .img_cont{
		width:65%;
		height:70%;
	} */
}

@media  (min-width:1441px) {
	/* .app .gallery .slide01 .section .img_cont img,.app .slide02 .img_cont img,.wrapper .gallery .slide .section .title img{
		min-width:100%;
	} */
	._container .gallery{
		font-size:100%;
	}
	.wrapper .gallery .slide img{
		min-width:100%;
	}
	.wrapper .gallery .slide .section .ewm{
		min-width:0;
	}
	/* .home .gallery .slide04 .section .img_cont{
		margin-left: -35%;
	} */
}
@media  (min-width:1441px) and (max-width: 1680px){
	/* .wrapper .gallery .slide .section{
		height:730px;
		margin-top:-365px;
	} */
	.app .gallery .slide01 .section .img_cont{
		/* width:840px;
		height:auto; */
	}
	/* .app .slide02 .img_cont{
		width:1170px;
		height:auto;	
	} */
}
@media  (min-width: 1681px){
	.wrapper .gallery .slide .section{
		/* height:80%;
		margin-top:-20%; */
	}
	.wrapper .gallery .slide .section .static_cont{
		/* width:100%; */
	}
	.app .gallery .slide01 .section .img_cont{
		/* width:64%; */
		/* height:auto; */
	}
	.app .slide02 .img_cont{
		/* width:47%; */
		height:auto;	
	}	
}
.type .header{
	position:static;
}